
* {
    font-family: "PublicaSan", sans-serif;
    margin: 0;
}

@font-face {
  font-family: 'PublicaSan';
  src: url('../assets/font/PublicaSans/PublicaSans-Black.otf') format('otf');
}

button {
  cursor: pointer;
}