
* {
    font-family: "PublicaSan", serif;;
    margin: 0;
}

@font-face {
  font-family: 'PublicaSan';
  src: url('../assets/font/PublicaSans/publica-sans-light.otf') format('opentype');
}

button {
  cursor: pointer;
}