
.my-img {
    height: 300px;
    border-radius: 160px;
}

.header-logo {
    height: 100px;
    cursor: pointer;
}

.german {
    height: 35px;
    cursor: pointer;
}


.container-logo {
    height: 70px;
}