
.content-body {
    min-height: 100vh;
    display: flex;
    width: 100%;
}

.content-restaraunt {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-restaraunt-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.restaraunt-head {
    height: 40vh;
    background-image: url('../assets/image/russischtraditionell.png');
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.restaraunt-head img {
    border-radius: 120px;
    height: 120px;
    position: absolute;
    top: 45%;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.headline-rating {
    border: 2px solid;
    margin: 50px 15px;
    background-color: antiquewhite;
    width: 250px;
    border-radius: 8px;
    padding: 5px;
    padding-top: 2px;
}

.headline-rating a {
    color: #205f20;
    font-weight: bold;
}

.headline-rating a:hover {
    filter: drop-shadow(0px 0px 4px #208620);
}

.adress-box {
    border: 2px solid;
    margin: 50px 15px;
    background-color: antiquewhite;
    width: 250px;
    border-radius: 8px;
    padding: 5px;
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adress-box h1 {
    font-size: large;
}

.dish-category {
    border: 2px solid;
    background-color: #FAEBD7;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    overflow-x: auto;
    scrollbar-width: none;
}

.dish-category p {
    border-radius: 20px;
    padding: 5px 8px;
    cursor: pointer;
    font-weight: bold;
}

.dish-category p:hover {
    background-color: #ff80007a;
    filter: drop-shadow(0px 0px 5px #a85501);
    color: aliceblue;
}

.dish-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 1px 10px 1px;
}

.dish-box {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #FAEBD7;
}

.dish-image-headline {
    padding: 4px;
}

.dish-image-headline h3 {
    text-align: center;
    padding-top: 15px;
}

.dish-bg-img {
    object-fit: cover;
    height: 160px;
    border-radius: 8px 8px 1px 1px; 
    width: 100%;
    filter: drop-shadow(0px 0px 3px #000000);
}

.x-stripe-container {
    display: flex;
    justify-content: center;
}

.horizontal-strip {
    width: 98%;
    height: 0.5px;
    background-color: black;
    margin: 8px 1px;
    border-radius: 8px;
}

.dish-name-btn {
    display: flex;
    justify-content: space-between;
    padding: 1px 40px 1px 20px;
}

.dish-name-btn button {
    background-color: #F77C08;
    color: #FAEBD7;
    border: #ffffff00;
    border-radius: 20px 20px 20px 1px;
}

.dish-name-btn button:hover {
    filter: drop-shadow(0px 0px 3px #ff6600);
}

.dish-description-price {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px 20px;
}

.dish-description-price span {
    text-decoration: underline;
}

.dish-description-price p {
    font-weight: bold;
}
