
.main-content {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.menu-content-container {
    width: 100%;
}

.menu-content {
    height: 40vh;
    background-image: url('../assets/image/russischtraditionell.png');
    background-position: center;
    background-repeat: no-repeat;  
    background-size: cover;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.myPic {
    border-radius: 120px;
    height: 120px;
    position: absolute;
    top: 43%;
    margin-left: 50px;
}

.headline-rating-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
}

.body-template { 
    height: 100vh;
}

.headline-rating {
    margin: 50px 15px;
    background-color: rgba(196, 162, 119, 0.377);
    width: 250px;
    border-radius: 8px;
    padding: 5px;
    padding-top: 2px;
}

.rating {
    color: green;
}

.dish-catogery {
    background-color: rgba(196, 162, 119, 0.377);
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    overflow-x: auto;
}

.ctgy-btn {
    border-radius: 20px;

    padding: 5px 8px;
    cursor: pointer;
}

.ctgy-btn:hover {
    background-color: rgba(82, 82, 82, 0.178);
}