

@media only screen and (max-width: 1060px) {
  .sidenav {
    width: 290px;
    display: none;
  }

  .category {
    display: block;
  }

  .sideNavContainer {
    display: none;
  }

  .menu-content-container {
    width: 100%;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .category-headline {
    text-align: center;
  }
}

@media only screen and (max-width: 1055px) {
  .change-container {
    flex-direction: column;
    width: 130px;
    gap: 0px;
  }
}

@media only screen and (min-width: 900px) {
}

@media only screen and (min-width: 1060px) {
  
  .basket-btn-container {
    display: none !important;
  }

  .popUpBasket{
    display: none !important;
  }
}
