

@media only screen and (max-width: 1060px) {
  .sidenav {
    width: 290px;
    display: none;
  }

  .category {
    display: block;
  }

  .sideNavContainer {
    display: none;
  }

  .menu-content-container {
    width: 100%;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .category-headline {
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  .change-container {
    flex-direction: column;
    width: 130px;
    gap: 0px;
  }

  .basket {
    overflow-y: hidden;
  }

  .headline-dish-basket {
    display: block;
  }

  .info-container {
    flex-direction: column;
    align-items: center;
  }

  .headline-rating {
    margin: 0;
    margin-top: 80px;
  }

  .adress-box {
    margin: 20px;
  }
}

@media only screen and (min-width: 900px) {
}

@media only screen and (min-width: 1060px) {
  
  .basket-btn-container {
    display: none !important;
  }

  .popUpBasket{
    display: none !important;
  }
}

