
#popUpBasket{
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUpBasket {
    position: fixed;
    bottom: 100px;
    background-color: rgb(255, 255, 255);
    height: 70%;
    width: 70%;
    border-radius: 8px;
    padding: 50px;
    filter: drop-shadow(1px 2px 10px #000000);
}
/* Basket Button MQ */

.basket-btn-container {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

.basket-button {
    background-color: #FF8000;
    border-radius: 200px;
    color: #EFEDEA;
    text-align: center;
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.basket-button:hover {
    cursor: pointer;
    filter: drop-shadow(1px 2px 10px #000000);
}