
/* This side Basket menu */

.sideNavContainer {
    position: sticky;
    right: 0;
    width: 40%;
    height: 100vh;
    top: 0;
    z-index: 1;
}  

.sidenav {
    height: 100vh;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.change-container {
    background-color: #EFEDEA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    gap: 3px;
    width: 270px;
}

.change-logo-txt-container {
    display: flex;
    gap: 5px;
    text-align: center;
    padding: 14px;
}

.change-logo-txt-container:hover {
    background-color: rgba(128, 128, 128, 0.137);
    cursor: pointer;
    border-radius: 30px;
}

.basket {
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}