
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


footer {
    background-color: #FFFFFF;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    left: 0;
    bottom: 0;
}